# Visual Studio cache
.vs/

# Build directories
x64/
Debug/
Release/


# Compiled object files
*.obj
*.o

# Program database
*.pdb
*.idb
*.ipdb
*.iobj

# Intermediate build files
*.tlog
*.log
*.lastbuildstate
*.cache

# Executables
*.exe
*.dll

# User-specific project settings
*.user

# SFML DLLs
sfml-*.dll
openal32.dll
SFML-2.6.2-windows-vc17-64-bit/
/EscapeTheCompany/Scene1_Gr1.csv
